.post-details-container {
  margin-top: 140px;
}

.post-details-box {
  padding-bottom: 125px;
  animation-name: fade-up;
  animation-duration: 1000ms, 750ms;
  opacity: 1;
  margin: 0px auto;
  max-width: 1600px;
}

.post-details-author {
  width: 44.4444%;
  margin-left: calc((100% - 44.4444%) / 2);
}

.sm-desc {
  display: block;
  font-size: 10px;
  line-height: 1.5em;
  letter-spacing: 1.6px;
  color: rgb(40, 55, 169);
  margin-top: 0px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.post-details-title {
  margin-left: 22.2222%;
  width: 72.2222%;
}

.post-details-heading {
  margin-bottom: 70px;
  font-size: 56px;
  line-height: 60px;
  color: rgb(40, 55, 169);
}

.post-details-sm-title {
  width: 44.4444%;
  margin-left: calc((100% - 44.4444%) / 2);
}

.post-details-sm-heading {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 34px;
  color: rgb(40, 55, 169);
}

.post-details-content {
  width: 44.4444%;
  margin-left: calc((100% - 44.4444%) / 2);
}

.post-details-txt,
.post-details-info-txt {
  position: relative;
  margin-top: 0px;
  color: rgb(40, 55, 169);
}

.post-details-txt p {
  font-size: 18px;
  letter-spacing: 0.32px;
  line-height: 27px;
  margin-bottom: 20px;
}

/* .post-details-image-wrapper-1 {
  margin-left: 11.1111%;
  width: 50%;
} */

.post-details-image-wrapper-1.odd {
  margin-left: 40%;
  width: 50%;
}
.post-details-image-wrapper-1.even {
  margin-left: 10%;
  width: 50%;
}

.post-details-image-wrapper-1 .post-details-image {
  padding-bottom: var(--post-details-image-pb);
}

.post-details-image-desc-1 {
  margin-left: 11.1111%;
  width: 27.7778%;
}

.post-details-image {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}

.post-details-image img {
  width: 100%;
  opacity: 0;
  z-index: 1;
  position: absolute;
  user-select: none;
  transition: opacity 1200ms ease;
}

.post-details-image img.lazy {
  opacity: 0;
}

.post-details-image img.show {
  opacity: 1;
}

.post-details-mask-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--home-content-hover, #2837a9);
}

.post-details-paragraph {
  width: 44.4444%;
  margin-left: 27.7778%;
}

.post-details-top {
  padding-bottom: 0;
  opacity: 1;
  margin: 0px auto;
  max-width: 1600px;
  animation-name: fade-up;
  animation-duration: 1000ms, 750ms;
  padding-top: 120px;
}

.post-details-top-image-wrapper {
  width: 55.5556%;
  margin-left: 0%;
}

.post-details-top-image-wrapper .post-details-image {
  padding-bottom: 66.7324%;
}

.post-details-header {
  z-index: 3;
  display: flex;
  opacity: 1;
  position: fixed;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  top: 22px;
  left: 0px;
}

.post-header-wrapper {
  display: flex;
  position: absolute;
  width: 100%;
  max-width: 1600px;
  top: 0px;
  left: 0px;
  pointer-events: auto;
}

.post-header-year {
  width: 5.55556%;
  margin-left: 16.6667%;
}

.post-header-title {
  width: 38.8889%;
  margin-left: 0%;
}

.post-header-category {
  width: 22.2222%;
  margin-left: 0%;
}

.post-header-location {
  width: 16.6667%;
  margin-left: 0%;
}

.post-header-text {
  transition: color 1000ms ease 0s;
  font-size: 16px;
  line-height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgb(40, 55, 169);
  opacity: 1;
  user-select: none;
  padding-right: 7px;
  overflow: hidden;
  display: block;
}

.post-details-info-wrapper {
  margin-top: -45px;
  margin-bottom: -45px;
  display: flex;
}

.post-details-info-space {
  width: 44.4444%;
  margin-left: 27.7778%;
}

.post-details-info-txt p {
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 26px;
  margin-bottom: 5px;
}
.post-details-info-txt p a {
  transition: all 0.25s linear 0s;
  display: inline;
  text-decoration: none;
  padding-bottom: 5px;
  background: linear-gradient(to right, rgb(40, 55, 169) 0%, rgb(40, 55, 169) 98%) right 85% / 100%
    1px no-repeat;
  color: inherit;
}

.post-details-info-txt p a:hover {
  background-size: 0px 1px;
  background-position: right 85%;
}

.post-details-copyright-space {
  margin-left: 16.6667%;
  width: 66.6667%;
}

.post-details-copyright-inner {
  display: flex;
  flex-flow: column wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-direction: row;
}

.post-details-copyright {
  width: 41.6667%;
}

.post-details-copyright-link {
  display: block;
  margin-top: 40px;
  border-top: 1px solid rgb(40, 55, 169);
  margin-bottom: 75px;
  color: inherit;
  text-decoration: none;
}

.post-details-copyright-content {
  font-size: 18px;
  line-height: 27px;
  color: rgb(40, 55, 169);
  transition: transform 0.2s linear;
}

.post-details-copyright-content svg {
  height: 30px;
  margin: 30px 0px 17px;
}

.post-details-copyright-content:hover {
  transform: translateY(-5px);
}

@media (max-width: 767.98px) {
  .post-details-top-image-wrapper {
    width: 66.6667%;
  }

  .post-details-author,
  .post-details-title,
  .post-details-sm-title,
  .post-details-content,
  .post-details-paragraph {
    width: 88.8889%;
    margin-left: 5.55556%;
  }

  .post-details-heading {
    margin-bottom: 60px;
    font-size: 40px;
    line-height: 48px;
  }

  .post-details-sm-heading {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 32px;
  }

  .post-details-txt p {
    font-size: 17px;
    letter-spacing: 0.25px;
    line-height: 25px;
  }

  .post-details-box {
    padding-bottom: 90px;
  }

  .post-details-image-wrapper-1.odd,
  .post-details-image-wrapper-1.even {
    width: 66%;
  }

  .post-details-image-desc-1 {
    width: 61.1111%;
    margin-left: 11.1111%;
  }

  .post-details-info-space {
    width: 88.8889%;
    margin-left: 5.55556%;
  }

  .post-details-info-txt p {
    font-size: 16px;
  }

  .post-details-copyright-space {
    width: 88.8889%;
    margin-left: 5.55556%;
  }

  .post-details-copyright {
    width: 100%;
  }

  .post-details-copyright-link {
    margin-bottom: 15px;
  }

  .post-details-copyright-content {
    font-size: 17px;
    line-height: 25px;
  }
}
